
:root {
  --primary-color: #50C878;
  --accent-color: #6dcff6;
  --secondary-color: #998675;
  --branding-background : #50C878;
  --text-white : #fff;
  --light-gray : #555;
  --danger-color : #d24f54;
  --bodybg : #eee;
  --timeline-filling-line : #50C878;
  --timeline-background : rgba(8, 8, 0, 0.205);
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}

/* Image rendering fixed 30-09-2019 */

img.leaflet-image-layer {
    image-rendering : pixelated;
    image-rendering: crisp-edges;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  /* background:linear-gradient(#ffffff11 0%,#ffffff33 100% ),url("./../panorama.jpg") !important; */
  backdrop-filter: blur(40px);
  background-size:cover !important;
  background-repeat: no-repeat !important;
  /*  */
  background-color: var(--bodybg) !important;
  
}

.list-group {
  max-height:80vh;
  overflow-y: scroll;
}

.list-group-item.active {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.primarylink {
  color: var(--primary-color) !important;
}

#introimage {
  background: url('./../images/introtop.png') no-repeat center; 
  background-size: contain; 
  height: 80%;
}

div::-webkit-scrollbar {
  width: .6em !important; 
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3) !important;
  box-shadow: inset 0 0 3px rgba(0,0,0,0.3) !important;
}

div::-webkit-scrollbar-thumb {
background-color: #cdcdcd !important;
/* outline: 1px solid yellowgreen !important; */
/* border-radius: 5px;  */

}

.hidden {
  display: none;
}

.is-disabled {
  color: #555 !important;
  cursor: not-allowed !important;
  pointer-events: none;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: var(--primary-color);
}

::selection {
  color: white;
  background: var(--primary-color);
}

hr {
  margin: 0 !important;
}

.pointed {
  cursor: pointer;
}

.underlined {
  border-bottom: var(--light-gray) solid 1px;
}

.zero-padding {
  padding: 0 !important;
}

.zero-margin {
  margin: 0 !important;
}

.zero-padding-left {
  padding-left : 0 !important;
}

.zero-padding-right {
  padding-right: 0 !important;
}

.m5 {
  margin: 5px !important;
}

.p5 {
  padding: 5px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mt5 {
  margin-top: 5px !important;
}


.mt10 {
  margin-top: 10px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.m10 {
  margin: 10px !important;
}

.p10 {
  padding: 10px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.fullheight {
  height: 100%;
}

.fixedelement {
  position: fixed !important;
}

.vhcenter {
  align-self: auto;
  text-align: center;
  margin: auto !important;
}

.vcenter {
  align-self: auto;
  margin: auto !important;
}

.hcenter {
  text-align: center;
}

.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

.whitetext {
  color: var(--text-white) !important;
}

.graybg {
  background: #ddd;
}

.inlineImage {
  width: 20px;
  height: 20px;
}
.field {
  /* -webkit-box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.3);
box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.3); */
font-size: 0.9em;
/* margin: 10px; */
cursor: pointer;
}

.card-header {
  background-color: var(--accent-color) !important;
  /* background-color: rgba(255, 230, 0, .8) !important;   */
  backdrop-filter: blur(4px);
  border: 0 !important;
}

.card-body {
  padding-bottom: 0 !important;
  background: rgb(255,255,255,.6);
}

.centertext {
  text-align: center !important;
}

.dangerAction {
  background: var(--danger-color) !important;
}

.menubtn {
  text-align: center;
  position: absolute;
  top: 0;
  padding: 5px;
  cursor: pointer;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn-danger-hollow {
  border: var(--danger-color) solid 1px !important;
  color: var(--danger-color);
}

.btn-danger {
  border: var(--danger-color) solid 1px !important;
  background-color: var(--danger-color) !important;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  position: relative;
  z-index: 1;
  color: var(--text-white);
  text-transform: uppercase;
  font-weight: 600 !important;
}

.btn-common:hover {
  /* background: transparent;
  border: 1px dotted rgb(194,247,0); */
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-common-nogradient {
  background: var(--secondary-color);
  position: relative;
  z-index: 1;
  color: var(--text-white);
  /* text-transform: uppercase; */
  font-weight: 600 !important;
}

.btn-common-nogradient:hover {
  /* background: transparent;
  border: 1px dotted rgb(194,247,0); */
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}


#fullDiv {
  height: 100%;
  width: 100%;
  margin: 0;
}

#mapDiv {
  height: 100%;
  padding: 0 !important;
}



#contentDiv {
  height: 100%;
  overflow-y: scroll !important;
}

#map {
  height: 100%;
  z-index: 1;
  -webkit-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.5);
box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.5);
}

.modal {
  z-index: 10 !important;
}

#processLoader .ui-icon{
  display:none !important;
}

#verticalNav {
  font-size: 1.2em;
  background-color: white;
  text-align: center;
  -webkit-box-shadow: 6px 0px 10px -4px rgba(0,0,0,0.4);
  -moz-box-shadow: 6px 0px 10px -4px rgba(0,0,0,0.4);
  box-shadow: 6px 0px 10px -4px rgba(0,0,0,0.4);
}

#branding {
  height: 7%;
  background-color: var(--branding-background);
  z-index: 1;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

.height93 {
  height: 93%;
}

.navlink {
  height: 40px;
  padding-top: 10px;
  cursor: pointer;
}

.navlinkTop {
  margin:0;
  font-size: 0.4em !important;
}

.active {
  background-color: var(--primary-color);
  color: white;
}

.disabled {
  color: #999;
}


.instruction {
  font-weight: bold !important;
}

#line {
  /* height: 35vh; */
  /*background: white;*/
/*  border-radius: 5px;*/
/*  -webkit-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.5);*/
/*-moz-box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.5);*/
/*box-shadow: 0px 5px 12px -5px rgba(0,0,0,0.5);*/
}

#weather {
  height: 20vh;
  /* background: #ddd; */
}

#legendDiv {
  padding-left: 0 !important;
}

#legend {
  height: 35vh;
  background: #ddd;
}

/* #timeline {
  min-height: 10vh;
  height: 20%;
  background: #ddd;
} */

#boxTimeline {
min-height: 20%;
max-height: 20%;
padding-bottom: 20px;
background: var(--timeline-background);
}

#timelineDiv {
 min-height: 15vh;
}


.cd-horizontal-timeline {
  /* background: #ddd; */
}

#fdrow {
  padding-top: 10px;
}

#backToFields {
  font-size: 1.5em !important;
}

#weatherdataLeft {
  border-right: solid var(--light-gray) 1px;
}

.weathericon {
  font-size: 1.1em !important;
}

.weatherdata {
  font-size: 0.8em;
  font-family: Poppins-Medium;
}

.weatherbig {
  font-size: 1.6em !important;
}

.legend {
  line-height: 18px;
  color: #555;
  background: white;
  border-radius: 5px;
  padding: 5px;
  -webkit-box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.3);
box-shadow: 0px 6px 9px -6px rgba(0,0,0,0.3);
}
.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

#dialog-account {
  min-width: 50vw !important;
  max-width: 50vw !important;
  min-height: 50vh !important;
  max-height: 50vh !important;
}

g > image {
  image-rendering: pixelated !important;
  image-rendering: crisp-edges !important;
}