:root {
  --primary-color: #50C878;
}


/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); 
}

@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf'); 
}


/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
  height: 100%;
	/* font-family: Poppins-Regular, sans-serif; */
}

div::-webkit-scrollbar {
  width: .8em !important; 
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3) !important;
}

div::-webkit-scrollbar-thumb {
background-color: rgb(44, 179, 55) !important;
outline: 1px solid yellowgreen !important;
border-radius: 12px; 

}

.modal {
  z-index:2; 
}

#map {
  z-index: 1;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-family: Poppins-Regular;
}


p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

.primarylink {
  color: var(--primary-color) !important;
}

.btn-common {
  background-color: var(--primary-color);
  color: white;
}

.textlink {
  color: var(--primary-color) !important ;
  cursor: pointer;
}

.bottomright {
  position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 18px;
}

#introimage {
  background: url('./../images/introtop.png') no-repeat center; 
  background-size: contain; 
  height: 80%;
}

#aflogo {
  height : 15%;
}

#fielddates {
  padding-bottom: 10px !important;
  padding-top: 10px !important; 
}

input:-ms-input-placeholder {  
                  
  /* Firefox, Chrome, Opera */ 
  text-align: center; 
} 
input::placeholder {  
    
  /* Firefox, Chrome, Opera */ 
  text-align: center; 
} 

.highlightedDate {
  background: var(--primary-color);
  color: white;
}

.vhcenter {
  align-self: auto;
  text-align: center;
  margin: auto !important;
}

.vcenter {
  align-self: auto;
  margin: auto !important;
}

/* Form elements */

#dialog-forgot {
  min-width: 50vw !important;
  max-width: 50vw !important;
  min-height: 50vh !important;
  max-height: 50vh !important;
}

.p10 {
  padding-left: 5em !important;
  padding-right: 5em !important;
  padding-top:2em !important;
  padding-bottom:2em !important;
}

.p5lr {
  padding-left: 5em !important;
  padding-right: 5em !important;
}

.form-header {
  font-family: Poppins-Regular;
}

#form-container{
  font-family: Poppins-Regular;
  padding: 2%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background: url("./../images/hero-area.svg");
  background-size: cover;
  -webkit-background-origin:border;
  background-repeat: no-repeat;

}
#form-bg {
  background: url("./asstes/images/hero-area.svg");
}




.form-control{
  margin-top: 5px;
  margin-bottom: 5px;
}

#submitbutton {
  text-align: center;
}

/* Form elements */

/* Index styles */

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}
body{
  margin: 0%;
}
#s2{
  width: 40%;

 padding-top:5%; 
 margin: auto;                                
}
/* .nav
{   display: table;
  color: white;
  padding-top:11px;
  background: linear-gradient(90deg, yellowgreen,lightgreen);


}
.nav:hover{ box-shadow: 0px 1px 4px 0px #00000088;

}
.nav-item{
  display: table-cell;
  
}  */

.uno{display: block; 
 margin-top: 20%;
 width: 40%;

 padding-top:5%; 
 margin: auto;
 box-shadow: 0px 3px 4px 0px #00000088; 
 transition:  2s;
 border: 0px;
} 
.uno:hover{
 box-shadow: 0px 4px 15px 0px  #00000088;
 transform: translate(0px,10%);    
}
.two{
 display: block;
 height: 10%;
 margin: auto;
 padding:0px;
 border: 0px;
 background: linear-gradient(90deg,yellowgreen,lightgreen);
 color: white;
 text-align: center;
}

/* svg{
transition: 1s;
} */

#line{
  background: rgba(0,0,0,0.3);
  color: rgb(200,200,200);
  margin-top: 10px;
}


.barcolumn{ 
transition: 2s;
fill:url(#grad1);
}
.barcolumn:hover{
width: 40;
opacity:.8;
fill:url(#grad1);
}
.bars{
transition: 2s;
fill: black;
}
.userfields{
border: 3px solid !important;
border-image-source: linear-gradient(45deg, rgb(0, 197, 66), rgb(250,224,66)) !important;
border-image-slice: 1 !important;
border-radius: 5px;
background: rgb(40, 40, 40,0.2);
cursor: pointer;
display:inline-block;
padding: 10px;
margin: 5px;
color:white;
transition:1s;
border:0px;
}

.createfield{
cursor: pointer;
display:inline-block;
padding: 10px;
margin: 5px;
border-radius:5px;
color:white;
background:green;
transition:1s;
border:0px;
}

.btn-sq-lg {
  width: 100px !important;
  height: 100px !important;
}

.userfields:hover{
  background: rgb(40, 40, 40,0.4);
}

#cp {
  background: linear-gradient(90deg,#da1e28,#a51920);
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  float: right;
}
