:root {
    --details-element-margin : 30px;
  }

#details-container {
    background-color: white;
    width: 90vw;
    margin: auto;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);
}

#graph {
    /* height: 30vh; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /* margin-bottom: var(--details-element-margin); */
}

.details-element{
    padding: 15px;
}

.details-circle {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
    font-size: 0.8rem;
    /* background-color: red; */
}

.details-image {
    height: 30vh;
    /* padding: 30px !important; */
    /* background-color: goldenrod; */
    margin-top: var(--details-element-margin);
    /* margin-bottom: var(--details-element-margin); */
    text-align: center;
}

.details-legend {
    margin-top: var(--details-element-margin);
    /* margin-bottom: var(--details-element-margin); */
    text-align: center;
}

#image-container {
    height: 100%;
}