:root {
    --main-green: rgba(44,150,85,1);
    --main-yellow: rgba(255,205,51,1);
    --main-red: rgba(194, 11, 11,1);
    --dark-gray: rgba(50,50,50,1);
    --gray-500: rgb(202, 202, 202);
  }

html, body {
    height: 100%;
    background-color: #f8f9fa;
}

#nav {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    /* background-color: #dddddd !important; */
    background-color: white;
    height: 75px !important;
    padding: 8px;
    vertical-align: middle;
    margin: 0 !important;
    border-bottom: var(--gray-500) solid 1px;
}

#dialog-details{
    max-width: 800px !important;
}

.greeting {
    font-size: 1.2rem;
}

.left-float {
    float: left;
}

.hcenter {
    text-align: center !important;
}

.right-float {
    float: right;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    line-height: 42px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
  }

  .circle-avg {
    border-color: var(--dark-gray);
    color: var(--dark-gray);
  }

  .circle-inc {
    border-color: var(--main-green);
    color: var(--main-green);
  }

  .circle-dec {
    border-color: var(--main-red);
    color: var(--main-red);
  }

  .farmdetails {
      text-align: end !important;
      margin: auto !important;
  }

  .unread-title {
      font-weight: bold;
  }

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid var(--main-green);
    background-color: var(--main-green);
    z-index: 0;
}

.fullheight {
    height: 100%;
    max-height: 100%;
    margin: 0;
}

.verticalcenter {
    margin: 0 !important;
    transform: translateY(30vh) !important;
}

#login {
    padding-left: 5%;
    padding-right: 5%;
}

#brandingdiv {
    background-color: bisque;
}

#optionsrow {
    width: 70vw;
    padding-top: 15px;
    margin-left: auto;
    margin-top: 20px;
    display: block !important;
    border-radius: 5px;
}

#showalerts {
    float: left;
}

#allread {
    float: right;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: var(--main-green);
    transition-duration: 0.4s;
}

#allread:hover {
    background-color: rgb(33, 109, 62);
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.notification-card {
    width: 70vw;
    min-height: 15vh;
    margin-left: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: white;
    font-size: small;
    cursor: pointer;
}

.unread {
    box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.read {
    background: rgb(243, 243, 243) !important;
    border: 1px #E0E0E0 solid;
}

.notification-status-green {
    background-color: var(--main-green) ;
    border-radius: 5px 0px 0px 5px;
}

.notification-status-yellow {
    background-color: var(--main-yellow) ;
    border-radius: 5px 0px 0px 5px;
}

.notification-status {
    width: 2.5%;
}

.notification-content-row {
    margin: 0 !important;
    width: 97.5% !important;
    padding: 10px;
}
