/* only small desktops */
@media (min-width: 992px){
    .notification-card {
        width: 80vw;
        font-size: 0.7rem;
    }

    #optionsrow {
        width: 80vw;
    }

    .details-image {
        height: 50vh;
    }

    .wrapper {
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    }
  
  }
  
  /* tablets */
  @media (max-width: 991px) {
    .notification-card {
        width: 80vw;
    }

    #optionsrow {
        width: 80vw;
    }

    .details-image {
        height: 40vh;
    }

    /* .wrapper {
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    } */

  }
  
  /* only small tablets */
  @media (min-width: 768px) and (max-width: 991px) {
    .notification-card {
        width: 90vw;
    }

    #optionsrow {
        width: 90vw;
    }

    #graph {
        /* height: 40vh; */
    }
/* 
    .wrapper {
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    } */

  
  }
  
  /* mobile or only mobile */
  @media (max-width: 767px) {
    .notification-card {
        width: 90vw;
        font-size: 0.7rem;
    }

    #optionsrow {
        width: 90vw;
    }
  
    .notification-content-row {
        padding-top: 10px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
    }

    .hcenter_responsive {
        text-align: center;
    }
  
  }
  